.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;

}

.login > img {
    width:100%
}

.login >a{
    padding:20px;
    color:white;
    background-color: #1db945;
    border-radius: 99px;
    text-decoration: none;

}